<%= tinymce %>
<%= form_for @message do |f| %>
<h3>शीर्षक</h3>
	<%= f.text_area :title,label: "शीर्षक",class: "tinymce" %>
<h3>वर्णन</h3>
	<%= f.text_area :description,label: "वर्णन" ,class: "tinymce" %>
	<p>Attachment</p>
	<%= f.file_field :attachment,label: "attachment" %>
	<hr>
	<%= f.submit "सबमिट करा",class: "btn btn-default" %>
<% end %>
