<%= tinymce %>
<h2 align="center"><strong>कर्मचारी भरती</strong></h2>
	<% if user_signed_in? &&  current_user.user_type == "Super_admin" %>
		<% if @summary_exist != nil %>
			<%= form_for @summary_exist do |f| %>
			<%= f.text_area :recruitment_summary, label: "कर्मचारी भरती सारांश" ,class: "tinymce" %>
			<%= f.submit "Update" %>
			<% end %>
		<% else %>
			<%= form_for @summary do |f| %>
			<%= f.text_area :recruitment_summary, label: "कर्मचारी भरती सारांश" ,class: "tinymce" %>
			<%= f.submit "Save" %>
			<% end %>
		<% end %>
	<% else %>
		<% if @summary_exist != nil %>
			<h4 class="box-summary"><%= @summary_exist.recruitment_summary.html_safe %></h4>
		<% end %>
	<% end %>
	<% if user_signed_in? %>
			<%= link_to "कर्मचारी भरती बददल महिती जोडा",new_recruitment_path, class: "btn btn-sm btn-primary btn-responive" %>
	<% end %>
	<hr>

<div class="row">
<div class="col-xs-12">
<% if @recruitments != nil %>
	<% count = 1 %>
	<div class="table-responsive">
		<table class="table2">
			<thead>
				<tr>
					<th>Photo</th>
					<th>नाव</th>
					<th>शिक्षण</th>
					<th>तांत्रिक शिक्षण</th>
					<th>फोन नंबर</th>
					<th>अनुभव/पदनाम</th>
					<th>संस्थेचे नाव</th>
					<th>कालावधी</th>
					<th>ई-मेल</th>
					<th>पत्ता</th>
					<th>Resume</th>
					<th>Option</th>
				</tr>
			</thead>
			<% for recruitment in @recruitments %>
			<tbody>
				<tr>
					<td>
						<b><%= count %> . </b>
						<% if recruitment.r_photo? %>
							<%= image_tag((recruitment.r_photo.url), class: "manogat-img image-responsive") %>
						<% end %>
					</td>
					<td><%= recruitment.r_name %></td>
					<td><%= recruitment.education %></td>
					<td><%= recruitment.technical_education %></td>
					<td><%= recruitment.phone_no %></td>
					<td><%= recruitment.experience_post %></td>
					<td><%= recruitment.org_name %></td>
					<td><%= recruitment.from %> <%= recruitment.till %></td>
					<td><%= recruitment.r_email %></td>
					<td><%= recruitment.address %></td>
					<td><% if recruitment.attachment? %>
							<p>
							<%= link_to "#{truncate(File.basename(recruitment.attachment.path),length: 25)}",:action => 'download_file_recruitment', :controller=>"recruitments", :id => recruitment.id,target: :_blank %>
							</p>
						<% end %>
					</td>
					<td>
						<% if user_signed_in? %>
							<%= link_to "Edit", edit_recruitment_path(recruitment) , class: "btn btn-primary btn-sm btn-responsive" %>
							<%= link_to "Delete",recruitment_path(recruitment),method: :delete , class: "btn btn-danger btn-sm btn-responsive"  %>
						<% end %>
					</td>
				</tr>
			</tbody>
				<% count = count + 1 %>
			<% end %>
		</table>
		<%= will_paginate @recruitments, :renderer =>  BootstrapPagination::Rails, :page_links => false, previous_label: "<< नवीन", next_label: "जुने >>" %>
	</div>
<% else %>
	<h3>कोणतेही कर्मचारी भरती बददल महिती आले नाहीत </h3>
<% end %>
</div>
</div>

