
	<h2 align="center"> Disapprovals </h2>
	<hr>
		<div class="row">
			<div class="col-xs-12">
				<div class="links-box">
			<p class="link-options">
			<%= link_to "Rajya Sanghatna Disapproval", rajya_disapproval_path %> &emsp;
			<%= link_to "Yuva Sanghatna Disapproval", yuva_disapproval_path %> &emsp;
			<%= link_to "Zilla Sanghatna Disapproval", zilla_disapproval_path %> &emsp;
			<%= link_to "VadhuVar Disapproval", vadhuvar_disapproval_path %> &emsp;
			<%= link_to "Tanta_mukti Samiti Disapproval", tanta_mukti_disapproval_path %> &emsp;
	 		</p>
				</div>
			<br/>
			</div>
				
	</div>