<%= tinymce %>
<h2 align="center"><strong>तंटा मुक्‍ती समिती</strong></h2>
	
	<% if user_signed_in? &&  current_user.user_type == "Super_admin" %>
	
		<% if @summary_exist != nil %>
	<%= form_for @summary_exist do |f| %>
		<%= f.text_area :Tantamukti_summary, label: "तंटा मुक्‍ती समिती सारांश" ,class: "tinymce" %>
		<%= f.submit "Update" %>
	<% end %>
<% else %>
	<%= form_for @summary do |f| %>
			<%= f.text_area :Tantamukti_summary, label: "तंटा मुक्‍ती समिती सारांश",class: "tinymce" %>
			<%= f.submit "Save" %>
	<% end %>
<% end %>
	
	<% else %>
	<% if @summary_exist != nil %>
	<h4 class="box-summary"><%= @summary_exist.Tantamukti_summary.html_safe %></h4>
	<% end %>
	<% end %>
	<hr>

	<div class="row">
		<div class="col-xs-8">
			<div class="box-vadhuvar-form">
		<% if  @tantamuktis != nil &&  @tantamuktis.size > 0 %>
			<div class="table-responsive">
	    	<table class="table table-bordered table-stripped">
	    		<col width="200">
				<col width="500">
				<thead>
					<tr>
					<th>फोटो</th>
					<th>माहिती</th>
					</tr>
				</thead>
				<% for member in @tantamuktis %>
					<% if member.tantamukti_approval == "Yes" %>
						<tbody>
							<tr>
							<td>
								<% if member.photo? %>
									<%= image_tag((member.photo.url),class: "manogat-img image-responsive") %>
								<% end %>
							</td>
							<td>
							<table class="table2">
								<col width="100">
								<col width="600">
								<tbody>
									<tr><td><b>नाव</b></td><td><%= member.user_name %></td></tr>
									<tr><td><b>पदनाम </b></td><td><%= member.post %></td></tr>
									<tr><td><b>कार्यक्षेञ</b></td><td> <%= member.work_field %></td></tr>
									<tr><td><b>मोबाइल नंबर</b></td><td><%= member.phone_number %></td></tr>
									<tr><td><b>पत्ता</b></td><td><%= member.address.html_safe %></td></tr>
								</tbody>
							</table>	
							</td>
							</tr>
						</tbody>
					<% end %>
				<% end %>
			</table>
			</div>
		<% else %>
			<h3>समितीचे सदस्य या क्षणी उपलब्ध नाहीत</h3>
		<% end %>
		</div>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>आपण इच्छित असल्यास एडिट करा</h3>
				</div>
				<div class="panel-body">
					<% if user_signed_in? && current_user.tanta_mukti_created != "Yes" %>
						<%= render 'tantamuktis/form' %>
					<% elsif user_signed_in? && current_user.tanta_mukti_created == "Yes" %>
						<% if @tantamukti_pass != nil %>
							<%= simple_form_for @tantamukti_pass do |f| %>
								<p><b>फोटो</b></p>
								<%= f.file_field :photo %>
								<br/>
								<%= f.input :user_name,label: "नाव" %>
								<%= f.input :post,label: "पदनाम" %>
								<%= f.input :work_field, label: "कार्यक्षेञ	" %>
								<%= f.input :phone_number, label: "मोबाइल नंबर" %>
								<%= f.input :address, label: "पत्ता " %>	
								<%= f.submit "सबमिट करा" %>
							<% end %>
						<% end %>
					<% end %>
				</div>
			</div>	
		</div>			
	</div>
</div>
</div>
