<h1>Help Request Added</h1>

<p>
  <p><%= @help.helpie_name.html_safe %></p>
  <p><%= @help.helpie_address.html_safe %></p>
  <p><%= @help.helpie_phone.html_safe %></p>
  <p><%= @help.help_title.html_safe %></p>
  <p><%= @help.help_description.html_safe %></p>
  <p><%= @help.help_expecation.html_safe %></p>
</p>
