<h1>New mahatvachevyakti added</h1>

<pre>
 	Hello Admin,
 		There is new addition in mahatvachevyakti,login to your admin account and check the changes.
 	Name: <%= @mahatvachevyakti.user_name %>
 	Post: <%= @mahatvachevyakti.post %>
 	Importance: <%= @mahatvachevyakti.importance_type %>
 	Work Field: <%= @mahatvachevyakti.work_field %>
 	Phone Number: <%= @mahatvachevyakti.phone_number %>
</pre>
