<h1>New vadhu/var created!!</h1>

<pre>
  Hello Admin,
  	New Vadhu/Var has been created in our website.
  	Go to <a href="nandiwalesamaj.com">Nandiwalesamaj.com</a> and Login your Admin account for approval purpose.
  	Name: <%= @vadhuvar.vadhuvar_name %> <%= @vadhuvar.father_name %> <%= @vadhuvar.vadhuvar_sirname %>
  	Father's Name: <%= @vadhuvar.father_name %>
  	Mother's Name: <%= @vadhuvar.mother_name %>
  	Age: <%= @vadhuvar.age %>
  	Gender: <%= @vadhuvar.gender %>

</pre>

