   <footer class="row footer-nandi">
      <div class="row">
      <div class="col-xs-1">
      <a href = "https://www.maharashtra.gov.in/1125/Home">
      <%= image_tag("govmh.png" ,class: "duve-img image-responsive")%>
              महाराष्ट्र शासन
            </a>
            </div>

            <div class="col-xs-1 col-xs-offset-1">
            <a href = "https://www.mahaonline.gov.in">
              <%= image_tag("e-seva.png" ,class: "duve-img image-responsive")%>
              ई-सेवा
            </a>
            </div>

            <div class="col-xs-1 col-xs-offset-1">
            <a href = "https://aadhaar.maharashtra.gov.in">
              <%= image_tag("adhar.png" ,class: "duve-img image-responsive")%>
              आधार
            </a>
            </div>

            <div class="col-xs-1  col-xs-offset-1">
            <a href = "https://www.maharashtra.gov.in/1147/Citizen-Charter">
              <%= image_tag("govmh.png" ,class: "duve-img image-responsive")%>
               नागरिकांची सनद
            </a>
            </div>
            
            <div class="col-xs-1  col-xs-offset-1">
            <a href = "http://www.nvsp.in">
              <%= image_tag("voters.jpg" ,class: "duve-img image-responsive")%>
             राष्ट्रीय मतदार-सेवा
            </a>
            </div>

            <div class="col-xs-1  col-xs-offset-1">
            <a href = "https://www.mahanews.gov.in">
              <%= image_tag("news.png" ,class: "duve-img image-responsive")%>
              महाराष्ट्राबाबतच्या बातम्या
            </a>
            </div>
            </div>



            <div class="row margin-footer">
            <div class="col-xs-1">
            <a href ="http://www.mahapolice.gov.in">
              <%= image_tag("police.gif" ,class: "duve-img image-responsive")%>
             महाराष्ट्र-राज्य पोलीस
            </a>
            </div>

             <div class="col-xs-1  col-xs-offset-1"> 
            <a href = "https://www.maharashtra.gov.in/1144/Cabinet-Decisions">
              <%= image_tag("govmh.png" ,class: "duve-img image-responsive")%>
              मंत्रिमंडळ निर्णय
            </a>
            </div>

      <div class="col-xs-1 col-xs-offset-1">
      <a href = "https://india.gov.in">
              <%= image_tag("indian-national.jpg" ,class: "duve-img image-responsive")%>
              भारताचे राष्ट्रीय संकेतस्थळ
            </a>
            </div>

            <div class="col-xs-1 col-xs-offset-1">
            <a href = "https://www.utiitsl.com/UTIITSL_SITE/pan/">
              <%= image_tag("pan.jpg" ,class: "duve-img image-responsive")%>
              ऑनलाइन पॅन कार्ड अर्ज
            </a>
            </div>

            <div class="col-xs-1  col-xs-offset-1">
            <a href = "https://mahaeschol.maharashtra.gov.in/">
              <%= image_tag("e-schol.jpg" ,class: "duve-img image-responsive")%>
              ई-शिष्यवृत्ती
            </a>
            </div>

            <div class="col-xs-1  col-xs-offset-1">
            <a href = "https://www.maharashtra.gov.in/1148/RTI-Act-2005">
            <%= image_tag("govmh.png" ,class: "duve-img image-responsive")%>
              माहितीचा अधिकार
            </a></div>

            </div>
  <br/>
  <p style="color:orange" >&copy;  nandiwalesamaj.com 2017-2018</p>
        <p style="color:orange" > Developed and Maintained by: "Shawn P. Gajlekar" and "Tejas S. Pawar" </p>
    </footer